<p style="color: green"><%= notice %></p>

<% content_for :title, "Centros" %>

<h1>Centros</h1>

<div id="centros">
  <% @centros.each do |centro| %>
    <%= render centro %>
    <p>
      <%= link_to "Mostrar este centro", centro %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo centro", new_centro_path %>
